[submodule "rtems-source-builder"]
	path = rtems-source-builder
	url = git://git.rtems.org/rtems-source-builder.git
[submodule "rtems"]
	path = rtems
	url = git://git.rtems.org/rtems.git
[submodule "rtems-libbsd"]
	path = rtems-libbsd
	url = git://git.rtems.org/rtems-libbsd.git
[submodule "SOEM"]
	path = SOEM
	url = https://github.com/0xffea/SOEM.git
        branch = rtems-cmake
